
.project-details > div{
    width: 30% !important; 
}

/*----------------------------------------*/
/*----------------CERTIFICATE--------------*/
/*----------------------------------------*/

.certificate-details > div:first-child {
    position: relative;
}

.certificate-details > div:first-child::after {
    content: '';
    background-color: #d6c08d;
    width: 1px;
    height: 90%;
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 0px;
}

.certificate-details img{
    max-width: 150px;
    margin-right: 5px;
}

.certificate-info{
    margin-top: 10px;
}

.certificate-info h4{
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 10px;
}

.certificate-info p{
    font-size: 12px;
    color: rgb(129, 125, 125);
}
